.jumbotron {
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 50px;
}

.btn{
    background-color : black;
    
}

footer{
   
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 10px;
    
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;

}

.tab-content{
    padding-top:10px;
}
