.jumbotron {
  background-color: #000000;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn {
  background-color: black; }

footer {
  padding: 10px 10px 0 10px;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 50px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
