$yellow: #000000;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
    
}

.jumbotron {
    background-color:$yellow;
    color: rgb(255, 255, 255);
    @include margenes(50px,0px )
}

.btn{
    background-color : black;
    
}

footer{
   
    padding: 10px 10px 0 10px;
    background-color: rgb(255, 255, 255);
    @include margenes(50px,0px )
    
}
.card-hotel{
    flex: 1 200px;
    @include margenes(50px,0px )
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;

}

.tab-content{
    padding-top:10px;
}
